.login-container {
  max-width: 50%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-header {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.g-btn {
  display: block;
  margin: 20px auto;
}
